.App {
  text-align: center;
  /* max-width: 50%; */
  width: 500px;
  margin: 60px auto;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.task{
  display: flex;
  flex-direction: column;
}
form, .task {
  border: 1px solid grey;
  padding: 10px 20px;
  margin-bottom: 10px;
}
form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}
.submit{
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
}
button{
  padding-left: 20px;
  margin-left: 20px;
  text-align: center;
  border-radius: 8px;
  
  padding: 8px 16px;
  cursor: pointer;

}
.btn{
  
  padding-left: 30px;
  align-content: space-between;
  
  
}
.bt{
  margin-left: 0px;
  margin-top: 10px;
}
.btr{
  margin-left: 200px;
  margin-top: 10px;
}  

